<mat-toolbar color="primary">
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <span id="brand" routerLink="/">Angular Material</span>
  <span class="example-spacer"></span>
  <a class="link" routerLink="sign-up"><button mat-flat-button color="warn" class="btn">Sign up </button></a>
  <a class="link" routerLink="sign-in"><button mat-flat-button color="warn" class="btn">Sign in </button> </a>
</mat-toolbar>
<router-outlet></router-outlet>
